Node-red-Kbus-API-with-Dashboard-And-Modbus.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0a641bc694c2d3c7",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0df73d9d755c19f",
        "type": "subflow",
        "name": "Digital_Ins",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 460,
                "wires": [
                    {
                        "id": "9c5371ae871c1ccc"
                    },
                    {
                        "id": "dd581db679c606be"
                    },
                    {
                        "id": "aaf39e087dcd025e"
                    },
                    {
                        "id": "d83f3d243275beef"
                    },
                    {
                        "id": "d2b79fc9433856df"
                    },
                    {
                        "id": "ec98ed9fbb900d08"
                    },
                    {
                        "id": "a5ca272a18bcadde"
                    },
                    {
                        "id": "767181b5b27a458e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 160,
                "wires": [
                    {
                        "id": "767181b5b27a458e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 220,
                "wires": [
                    {
                        "id": "a5ca272a18bcadde",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 280,
                "wires": [
                    {
                        "id": "ec98ed9fbb900d08",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 340,
                "wires": [
                    {
                        "id": "d2b79fc9433856df",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 400,
                "wires": [
                    {
                        "id": "d83f3d243275beef",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 460,
                "wires": [
                    {
                        "id": "aaf39e087dcd025e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 520,
                "wires": [
                    {
                        "id": "dd581db679c606be",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 580,
                "wires": [
                    {
                        "id": "9c5371ae871c1ccc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 1040,
            "y": 200,
            "wires": []
        }
    },
    {
        "id": "69d27fb55e93041c",
        "type": "subflow",
        "name": "Digital_Outputs",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 240,
                "wires": [
                    {
                        "id": "9ab2b3379868544a"
                    },
                    {
                        "id": "a653091c3b0a6425"
                    },
                    {
                        "id": "3834fee1d65a7ced"
                    },
                    {
                        "id": "b2ee0baa344d8efc"
                    },
                    {
                        "id": "a5acc13776a7ea61"
                    },
                    {
                        "id": "06c0a9d4ddb20eb4"
                    },
                    {
                        "id": "d1de91c36ceebe42"
                    },
                    {
                        "id": "c1e6356302b699ce"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 80,
                "wires": [
                    {
                        "id": "cc36ef4376299de8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "b286ca2485076c32",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 200,
                "wires": [
                    {
                        "id": "e5b08bc9004b6671",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 260,
                "wires": [
                    {
                        "id": "2fb219f3c197fb30",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 320,
                "wires": [
                    {
                        "id": "7361bd4062bb3670",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 380,
                "wires": [
                    {
                        "id": "05aa9e6c48c8e582",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 440,
                "wires": [
                    {
                        "id": "b31c2e68103b36fb",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 500,
                "wires": [
                    {
                        "id": "f193db5e74a5154d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "4131f795a91fa6ca",
        "type": "subflow",
        "name": "Analog_Inputs",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 180,
                "wires": [
                    {
                        "id": "3f400504b53483cc"
                    },
                    {
                        "id": "5ee0af043f1598e2"
                    },
                    {
                        "id": "3c10b541a4583be3"
                    },
                    {
                        "id": "0f7ad6be3ae33751"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "3f400504b53483cc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 520,
                "y": 180,
                "wires": [
                    {
                        "id": "5ee0af043f1598e2",
                        "port": 0
                    }
                ]
            },
            {
                "x": 520,
                "y": 260,
                "wires": [
                    {
                        "id": "3c10b541a4583be3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 520,
                "y": 340,
                "wires": [
                    {
                        "id": "0f7ad6be3ae33751",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6e05f0b4bf4b50bb",
        "type": "subflow",
        "name": "JSON_PARSE_VAL",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "58e3abde654b5846"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1300,
                "y": 500,
                "wires": [
                    {
                        "id": "9f0fb5e4965a09a3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 1280,
            "y": 340,
            "wires": [
                {
                    "id": "9f0fb5e4965a09a3",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ed7a3f35ab814cf5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.35",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0f06d2343443af5e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9e20cec04ea8cdf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "892c1744976d6970",
        "type": "ui_group",
        "name": "Analog_inputs",
        "tab": "0f06d2343443af5e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d1c4f2005d30847e",
        "type": "ui_group",
        "name": "Digital Inputs",
        "tab": "0f06d2343443af5e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8782250ab038ca44",
        "type": "ui_group",
        "name": "Digital Outputs",
        "tab": "0f06d2343443af5e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1eee0f10864bf93f",
        "type": "ui_group",
        "name": "Force Outputs",
        "tab": "0f06d2343443af5e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "767181b5b27a458e",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "1",
        "name": "",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "2fa695c9c882ecea"
            ]
        ]
    },
    {
        "id": "a5ca272a18bcadde",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "2",
        "name": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "c5f957da4095e1cb"
            ]
        ]
    },
    {
        "id": "ec98ed9fbb900d08",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "3",
        "name": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "62c3cca2aa328ade"
            ]
        ]
    },
    {
        "id": "d2b79fc9433856df",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "4",
        "name": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "71d55cd677ad866e"
            ]
        ]
    },
    {
        "id": "d83f3d243275beef",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "5",
        "name": "",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "ddb699b476e97ad9"
            ]
        ]
    },
    {
        "id": "aaf39e087dcd025e",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "6",
        "name": "",
        "x": 450,
        "y": 520,
        "wires": [
            [
                "a93f766442690259"
            ]
        ]
    },
    {
        "id": "dd581db679c606be",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "7",
        "name": "",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "6f70c01941795ea6"
            ]
        ]
    },
    {
        "id": "9c5371ae871c1ccc",
        "type": "digital input",
        "z": "c0df73d9d755c19f",
        "module": "1",
        "channel": "8",
        "name": "",
        "x": 450,
        "y": 640,
        "wires": [
            [
                "e3d3105139128bf3"
            ]
        ]
    },
    {
        "id": "2fa695c9c882ecea",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c5f957da4095e1cb",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "62c3cca2aa328ade",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_3\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "71d55cd677ad866e",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_4\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ddb699b476e97ad9",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a93f766442690259",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_6\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6f70c01941795ea6",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_7\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e3d3105139128bf3",
        "type": "function",
        "z": "c0df73d9d755c19f",
        "name": "",
        "func": "global.set(\"controls.digitalIn.SetPoint_Alarm_8\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "cc36ef4376299de8",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "1",
        "name": "",
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9ab2b3379868544a",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "cc36ef4376299de8"
            ]
        ]
    },
    {
        "id": "b286ca2485076c32",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "1",
        "name": "",
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a653091c3b0a6425",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_2\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "b286ca2485076c32"
            ]
        ]
    },
    {
        "id": "2fb219f3c197fb30",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "4",
        "name": "",
        "x": 550,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e5b08bc9004b6671",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "3",
        "name": "",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3834fee1d65a7ced",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_3\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "e5b08bc9004b6671"
            ]
        ]
    },
    {
        "id": "b2ee0baa344d8efc",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_4\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "2fb219f3c197fb30"
            ]
        ]
    },
    {
        "id": "7361bd4062bb3670",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "5",
        "name": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a5acc13776a7ea61",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_5\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "7361bd4062bb3670"
            ]
        ]
    },
    {
        "id": "05aa9e6c48c8e582",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "6",
        "name": "",
        "x": 550,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "06c0a9d4ddb20eb4",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_6\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "05aa9e6c48c8e582"
            ]
        ]
    },
    {
        "id": "f193db5e74a5154d",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "8",
        "name": "",
        "x": 550,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b31c2e68103b36fb",
        "type": "digital output",
        "z": "69d27fb55e93041c",
        "module": "1",
        "channel": "7",
        "name": "",
        "x": 550,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d1de91c36ceebe42",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_7\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "b31c2e68103b36fb"
            ]
        ]
    },
    {
        "id": "c1e6356302b699ce",
        "type": "function",
        "z": "69d27fb55e93041c",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalIn.SetPoint_Alarm_8\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 500,
        "wires": [
            [
                "f193db5e74a5154d"
            ]
        ]
    },
    {
        "id": "efd701203afeaa2c",
        "type": "function",
        "z": "4131f795a91fa6ca",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone1Valve1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3f400504b53483cc",
        "type": "analog input",
        "z": "4131f795a91fa6ca",
        "module": "2",
        "channel": "1",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "16_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "efd701203afeaa2c"
            ]
        ]
    },
    {
        "id": "ffc76df1b8aa77ed",
        "type": "function",
        "z": "4131f795a91fa6ca",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone1Valve2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5ee0af043f1598e2",
        "type": "analog input",
        "z": "4131f795a91fa6ca",
        "module": "2",
        "channel": "2",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "16_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "ffc76df1b8aa77ed"
            ]
        ]
    },
    {
        "id": "0d4d3b8d00835933",
        "type": "function",
        "z": "4131f795a91fa6ca",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone2Valve1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3c10b541a4583be3",
        "type": "analog input",
        "z": "4131f795a91fa6ca",
        "module": "2",
        "channel": "3",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "16_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "0d4d3b8d00835933"
            ]
        ]
    },
    {
        "id": "ffe8cc70a5cf3479",
        "type": "function",
        "z": "4131f795a91fa6ca",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone2Valve2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0f7ad6be3ae33751",
        "type": "analog input",
        "z": "4131f795a91fa6ca",
        "module": "2",
        "channel": "4",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "16_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "ffe8cc70a5cf3479"
            ]
        ]
    },
    {
        "id": "58e3abde654b5846",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "77c6a5cf4a869d28"
            ]
        ]
    },
    {
        "id": "77c6a5cf4a869d28",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "e633917c79419c5c"
            ]
        ]
    },
    {
        "id": "e633917c79419c5c",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "9a32abdd3baac70f"
            ]
        ]
    },
    {
        "id": "9a32abdd3baac70f",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "ef03403b9728ada6"
            ]
        ]
    },
    {
        "id": "ef03403b9728ada6",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "088608f4d70809ce"
            ]
        ]
    },
    {
        "id": "088608f4d70809ce",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "da3f0ffb682a077d"
            ]
        ]
    },
    {
        "id": "da3f0ffb682a077d",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 870,
        "y": 380,
        "wires": [
            [
                "9f0fb5e4965a09a3"
            ]
        ]
    },
    {
        "id": "9f0fb5e4965a09a3",
        "type": "split",
        "z": "6e05f0b4bf4b50bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "933b7d0fbe0939a9",
        "type": "kbus in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "PFC200",
        "qos": "0",
        "broker": "ed7a3f35ab814cf5",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 160,
        "y": 580,
        "wires": [
            [],
            [
                "f80d21484cc2f3b1",
                "1924ad55f099de55",
                "3fcf1df2c1b45d46",
                "ca98596163cdf531",
                "68c1688c1389b9cd",
                "e1b7d9164e6aa768",
                "3e6ac53e9ba3c914",
                "03cb7e54c0a5e6b4",
                "07aadc0eb0605f6b",
                "046df70b97514609",
                "a0ebcc575e6a04f7",
                "9abaf1c50cf0589f"
            ]
        ]
    },
    {
        "id": "7035d89be1434343",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "1",
        "name": "",
        "x": 750,
        "y": 1260,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "93dddd8f389962d2"
            ]
        ]
    },
    {
        "id": "93147fcf58939e92",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.1\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_1\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "7035d89be1434343"
            ]
        ]
    },
    {
        "id": "41816d24ad4f892f",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "2",
        "name": "",
        "x": 750,
        "y": 1320,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "d968fff3b102a472"
            ]
        ]
    },
    {
        "id": "246bde9169c5d5fb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.2\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_2\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1320,
        "wires": [
            [
                "41816d24ad4f892f"
            ]
        ]
    },
    {
        "id": "c55387a2db605702",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "4",
        "name": "",
        "x": 750,
        "y": 1440,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "6e27ed4ef17493d2"
            ]
        ]
    },
    {
        "id": "7367b926904ff1d6",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "3",
        "name": "",
        "x": 750,
        "y": 1380,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "d5ce675b15654a7a"
            ]
        ]
    },
    {
        "id": "d8c64bc6f5c9c76b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.3\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_3\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1380,
        "wires": [
            [
                "7367b926904ff1d6"
            ]
        ]
    },
    {
        "id": "6ed8710b3bf06dc3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.4\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_4\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1440,
        "wires": [
            [
                "c55387a2db605702"
            ]
        ]
    },
    {
        "id": "dd7272bffc7d2cf5",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "5",
        "name": "",
        "x": 750,
        "y": 1500,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "7b8e7c6abdf2e501"
            ]
        ]
    },
    {
        "id": "bcce76820c291a14",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.5\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_5\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1500,
        "wires": [
            [
                "dd7272bffc7d2cf5"
            ]
        ]
    },
    {
        "id": "19c5584afd1bb278",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "6",
        "name": "",
        "x": 750,
        "y": 1560,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "7e6b8f12b6058617"
            ]
        ]
    },
    {
        "id": "6ca592c2d9523e42",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.6\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_6\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1560,
        "wires": [
            [
                "19c5584afd1bb278"
            ]
        ]
    },
    {
        "id": "aa67439bdddb8f26",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "8",
        "name": "",
        "x": 750,
        "y": 1680,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "e3ba8ec24c7fc9dc"
            ]
        ]
    },
    {
        "id": "6b183ab23d704ac1",
        "type": "digital output",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "7",
        "name": "",
        "x": 750,
        "y": 1620,
        "wires": [
            [
                "ab3b6b23ad5c8e72",
                "134952730544480d"
            ]
        ]
    },
    {
        "id": "692d5d913c16ed4a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.7\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_7\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1620,
        "wires": [
            [
                "6b183ab23d704ac1"
            ]
        ]
    },
    {
        "id": "b12b46b4bd42ffa4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var button = global.get(\"buttons.forceOutput.8\");\nvar alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_8\");\n\nmsg.payload = button || alrm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1680,
        "wires": [
            [
                "aa67439bdddb8f26"
            ]
        ]
    },
    {
        "id": "ab3b6b23ad5c8e72",
        "type": "kbus out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "PFC200",
        "qos": "0",
        "broker": "ed7a3f35ab814cf5",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 1060,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f80d21484cc2f3b1",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "1",
        "name": "",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "80f0bc765b6df671"
            ]
        ]
    },
    {
        "id": "1924ad55f099de55",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "2",
        "name": "",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "015c94b0da89e340"
            ]
        ]
    },
    {
        "id": "3fcf1df2c1b45d46",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "3",
        "name": "",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "115a09b85bcef274"
            ]
        ]
    },
    {
        "id": "ca98596163cdf531",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "4",
        "name": "",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "b21cb1618f2062cd"
            ]
        ]
    },
    {
        "id": "68c1688c1389b9cd",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "5",
        "name": "",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "a04351490fe609f1"
            ]
        ]
    },
    {
        "id": "e1b7d9164e6aa768",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "6",
        "name": "",
        "x": 670,
        "y": 480,
        "wires": [
            [
                "cc14b863edbc1e7a"
            ]
        ]
    },
    {
        "id": "3e6ac53e9ba3c914",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "7",
        "name": "",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "a5b9e1c2b99e10b3"
            ]
        ]
    },
    {
        "id": "03cb7e54c0a5e6b4",
        "type": "digital input",
        "z": "f6f2187d.f17ca8",
        "module": "1",
        "channel": "8",
        "name": "",
        "x": 670,
        "y": 600,
        "wires": [
            [
                "2a11119c21c9cf97"
            ]
        ]
    },
    {
        "id": "015c94b0da89e340",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_2\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_2\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_2\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 240,
        "wires": [
            [
                "0f1326371f03a3a1"
            ]
        ]
    },
    {
        "id": "115a09b85bcef274",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_3\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_3\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_3\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 300,
        "wires": [
            [
                "17c21ca39cb8c15a"
            ]
        ]
    },
    {
        "id": "b21cb1618f2062cd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_4\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_4\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_4\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 360,
        "wires": [
            [
                "31e5b6f89561b3f3"
            ]
        ]
    },
    {
        "id": "a04351490fe609f1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_5\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_5\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_5\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 420,
        "wires": [
            [
                "935cdefd89adfec3"
            ]
        ]
    },
    {
        "id": "cc14b863edbc1e7a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_6\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_6\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_6\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 480,
        "wires": [
            [
                "fd1d4aa7078cb395"
            ]
        ]
    },
    {
        "id": "a5b9e1c2b99e10b3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_7\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_7\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_7\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 540,
        "wires": [
            [
                "91499ac248d372d3"
            ]
        ]
    },
    {
        "id": "2a11119c21c9cf97",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_8\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_8\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_8\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 600,
        "wires": [
            [
                "21fcab6b9222fdfc"
            ]
        ]
    },
    {
        "id": "409cfa0a3146dc06",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone1Valve1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "07aadc0eb0605f6b",
        "type": "analog input",
        "z": "f6f2187d.f17ca8",
        "module": "2",
        "channel": "1",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "12_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 670,
        "y": 760,
        "wires": [
            [
                "409cfa0a3146dc06"
            ]
        ]
    },
    {
        "id": "71ecdde41104ef8f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone1Valve2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "046df70b97514609",
        "type": "analog input",
        "z": "f6f2187d.f17ca8",
        "module": "2",
        "channel": "2",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "16_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 670,
        "y": 840,
        "wires": [
            [
                "71ecdde41104ef8f"
            ]
        ]
    },
    {
        "id": "523d01c90d825f3a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone2Valve1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a0ebcc575e6a04f7",
        "type": "analog input",
        "z": "f6f2187d.f17ca8",
        "module": "2",
        "channel": "3",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "16_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 670,
        "y": 920,
        "wires": [
            [
                "523d01c90d825f3a"
            ]
        ]
    },
    {
        "id": "054cbfb535ac4338",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.analogIn.Zone2Valve2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "9abaf1c50cf0589f",
        "type": "analog input",
        "z": "f6f2187d.f17ca8",
        "module": "2",
        "channel": "4",
        "name": "",
        "sensorType": "4-20mA",
        "resolution": "16_Bit",
        "selectedProcess": "Scaled",
        "low": "0",
        "high": "100",
        "precision": "2",
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "054cbfb535ac4338"
            ]
        ]
    },
    {
        "id": "93dddd8f389962d2",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1260,
        "wires": [
            [
                "cab6040933c0b2d6"
            ]
        ]
    },
    {
        "id": "80f0bc765b6df671",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var alrm = global.get(\"controls.digitalIn.SetPoint_Alarm_1\");\n\nif (alrm != msg.payload){\n    node.send(msg);\n    global.set(\"controls.digitalIn.SetPoint_Alarm_1\", msg.payload);\n}\n\n//global.set(\"controls.digitalIn.SetPoint_Alarm_1\", msg.payload);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 180,
        "wires": [
            [
                "7a07e35b20f49d52"
            ]
        ]
    },
    {
        "id": "ebc05cf4a647fe12",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": ".5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1460,
        "wires": [
            [
                "246bde9169c5d5fb",
                "d8c64bc6f5c9c76b",
                "6ed8710b3bf06dc3",
                "bcce76820c291a14",
                "6ca592c2d9523e42",
                "692d5d913c16ed4a",
                "b12b46b4bd42ffa4",
                "93147fcf58939e92"
            ]
        ]
    },
    {
        "id": "cab6040933c0b2d6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "d968fff3b102a472",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1320,
        "wires": [
            [
                "9c9331c91f59e4c7"
            ]
        ]
    },
    {
        "id": "9c9331c91f59e4c7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "d5ce675b15654a7a",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1380,
        "wires": [
            [
                "64851dd892aacf28"
            ]
        ]
    },
    {
        "id": "64851dd892aacf28",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output3\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "6e27ed4ef17493d2",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1440,
        "wires": [
            [
                "4a1567e7093abbeb"
            ]
        ]
    },
    {
        "id": "4a1567e7093abbeb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output4\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "7b8e7c6abdf2e501",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1500,
        "wires": [
            [
                "abc61938fc78f335"
            ]
        ]
    },
    {
        "id": "abc61938fc78f335",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "7e6b8f12b6058617",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1560,
        "wires": [
            [
                "9fb7cfa74bf2611f"
            ]
        ]
    },
    {
        "id": "9fb7cfa74bf2611f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output6\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "134952730544480d",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1620,
        "wires": [
            [
                "b328eef757de7037"
            ]
        ]
    },
    {
        "id": "b328eef757de7037",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output7\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "e3ba8ec24c7fc9dc",
        "type": "subflow:6e05f0b4bf4b50bb",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 1080,
        "y": 1680,
        "wires": [
            [
                "f4b595339e648a88"
            ]
        ]
    },
    {
        "id": "f4b595339e648a88",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "global.set(\"controls.digitalOut.Output8\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "7a07e35b20f49d52",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "0f1326371f03a3a1",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 240,
        "wires": []
    },
    {
        "id": "17c21ca39cb8c15a",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "31e5b6f89561b3f3",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 360,
        "wires": []
    },
    {
        "id": "935cdefd89adfec3",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 420,
        "wires": []
    },
    {
        "id": "fd1d4aa7078cb395",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 6",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 480,
        "wires": []
    },
    {
        "id": "91499ac248d372d3",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 7",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 540,
        "wires": []
    },
    {
        "id": "21fcab6b9222fdfc",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1c4f2005d30847e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Input 8",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 600,
        "wires": []
    },
    {
        "id": "0cb7eb60dd14377e",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Digital Input parsing",
        "info": "Read PFC200 input data from the MQTT API\n\nPut the input states into a global context variable\n\nInput that variable into the dashboard ",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "c226fa57b3f4d4bb",
        "type": "ui_gauge",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "group": "892c1744976d6970",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog_In_1",
        "label": "mA",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "99c943a91feee8aa",
        "type": "ui_gauge",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "group": "892c1744976d6970",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog_In_2",
        "label": "mA",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "1825393132da6924",
        "type": "ui_gauge",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "group": "892c1744976d6970",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog_In_3",
        "label": "mA",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "cdde26badc9d5a91",
        "type": "ui_gauge",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "group": "892c1744976d6970",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog_In_4",
        "label": "mA",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "530ea733525c424d",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 7",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "89f15d325691d438",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 8",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 620,
        "wires": []
    },
    {
        "id": "6db2e90bf2ce01ba",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 6",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 540,
        "wires": []
    },
    {
        "id": "8e2a552e3f1a1a64",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 500,
        "wires": []
    },
    {
        "id": "934f358adc8f543c",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "cd87e83182a84608",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "28725f5d82d58bc6",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "0b7f64331eb9e4db",
        "type": "ui_text",
        "z": "0a641bc694c2d3c7",
        "group": "8782250ab038ca44",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Digital Output 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "d00b66b7cc9ce125",
        "type": "inject",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "7754cf5bc3782bc1",
                "2dc6dfa85a561706",
                "65e43a292945afcc",
                "fa5605c96a728183",
                "bb95f0c191f82261",
                "34f04eb0a34e8af6",
                "9af5713667a88089",
                "090d4ac517c5141c",
                "c556a9dcdea4c9b4",
                "06dafafdf9b4d527",
                "e89ed191e0397dbf",
                "b473abe609af73cc"
            ]
        ]
    },
    {
        "id": "7754cf5bc3782bc1",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.analogIn.Zone1Valve1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 140,
        "wires": [
            [
                "c226fa57b3f4d4bb"
            ]
        ]
    },
    {
        "id": "2dc6dfa85a561706",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.analogIn.Zone1Valve2\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "99c943a91feee8aa"
            ]
        ]
    },
    {
        "id": "65e43a292945afcc",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.analogIn.Zone2Valve1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [
            [
                "1825393132da6924"
            ]
        ]
    },
    {
        "id": "fa5605c96a728183",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.analogIn.Zone2Valve1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "cdde26badc9d5a91"
            ]
        ]
    },
    {
        "id": "bb95f0c191f82261",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output1\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "0b7f64331eb9e4db"
            ]
        ]
    },
    {
        "id": "34f04eb0a34e8af6",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output2\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "28725f5d82d58bc6"
            ]
        ]
    },
    {
        "id": "9af5713667a88089",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output3\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "cd87e83182a84608"
            ]
        ]
    },
    {
        "id": "090d4ac517c5141c",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output4\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 460,
        "wires": [
            [
                "934f358adc8f543c"
            ]
        ]
    },
    {
        "id": "c556a9dcdea4c9b4",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output5\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 500,
        "wires": [
            [
                "8e2a552e3f1a1a64"
            ]
        ]
    },
    {
        "id": "06dafafdf9b4d527",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output6\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 540,
        "wires": [
            [
                "6db2e90bf2ce01ba"
            ]
        ]
    },
    {
        "id": "e89ed191e0397dbf",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output7\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 580,
        "wires": [
            [
                "530ea733525c424d"
            ]
        ]
    },
    {
        "id": "b473abe609af73cc",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "msg.payload = global.get(\"controls.digitalOut.Output8\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 620,
        "wires": [
            [
                "89f15d325691d438"
            ]
        ]
    },
    {
        "id": "d7a39378b826ea16",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output1",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 780,
        "wires": [
            [
                "3f21e836a9e32f61"
            ]
        ]
    },
    {
        "id": "3f21e836a9e32f61",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.1\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "690ccf4844e57a62",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output2",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 840,
        "wires": [
            [
                "ab1814d7a7ce7c14"
            ]
        ]
    },
    {
        "id": "ab1814d7a7ce7c14",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.2\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "e996bec4080bd98f",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output3",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 900,
        "wires": [
            [
                "21aca442eac98aef"
            ]
        ]
    },
    {
        "id": "21aca442eac98aef",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.3\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "231edfb18e7494cb",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output4",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 960,
        "wires": [
            [
                "4984f6c42efad166"
            ]
        ]
    },
    {
        "id": "4984f6c42efad166",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.4\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "955893902e5220ae",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output5",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 1060,
        "wires": [
            [
                "46e2b434cf608f2d"
            ]
        ]
    },
    {
        "id": "46e2b434cf608f2d",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c679d0d1772c0e93",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output6",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "57acb8eaecea6529"
            ]
        ]
    },
    {
        "id": "57acb8eaecea6529",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.6\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "397159035a757964",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output7",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 1180,
        "wires": [
            [
                "4ec8c3f810a36bf4"
            ]
        ]
    },
    {
        "id": "4ec8c3f810a36bf4",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.7\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "104702673b4a6d7f",
        "type": "ui_switch",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "label": "Output8",
        "tooltip": "",
        "group": "1eee0f10864bf93f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 1240,
        "wires": [
            [
                "d9156de155bd59d7"
            ]
        ]
    },
    {
        "id": "d9156de155bd59d7",
        "type": "function",
        "z": "0a641bc694c2d3c7",
        "name": "",
        "func": "global.set(\"buttons.forceOutput.8\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1240,
        "wires": [
            []
        ]
    }
]