All Flow Program/All_Flow_Visu.json
[
    {
        "id": "c04dd153c7a251c6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "d3612c63273ae7dc",
        "type": "link in",
        "z": "c04dd153c7a251c6",
        "name": "link in 1",
        "links": [
            "fa939fb1a008a63d",
            "32b2864edd610102"
        ],
        "x": 185,
        "y": 160,
        "wires": [
            [
                "cfaef75eb845e454",
                "be58abb212ce0d78"
            ]
        ]
    },
    {
        "id": "cfaef75eb845e454",
        "type": "change",
        "z": "c04dd153c7a251c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FactoryIO.TotalCount",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "891cad741fbfcdc9"
            ]
        ]
    },
    {
        "id": "be58abb212ce0d78",
        "type": "change",
        "z": "c04dd153c7a251c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FactoryIO.Count",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "abd7a5a3cbb284b8",
                "25b8954216dc7dfb"
            ]
        ]
    },
    {
        "id": "891cad741fbfcdc9",
        "type": "ui_text",
        "z": "c04dd153c7a251c6",
        "group": "eb7738127c1a915a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Count",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "abd7a5a3cbb284b8",
        "type": "ui_text",
        "z": "c04dd153c7a251c6",
        "group": "eb7738127c1a915a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sequence Count",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Tahoma,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#4d1919",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "9891215bc5ca5923",
        "type": "inject",
        "z": "c04dd153c7a251c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": ".5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "3d0af60c76e19584",
                "c7f62f9008ff6ac3",
                "b9557c26c50d2df1"
            ]
        ]
    },
    {
        "id": "3513a9b1b8e353b1",
        "type": "ui_text",
        "z": "c04dd153c7a251c6",
        "group": "94f2c428db8afdd5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Conveyor Status",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "3d0af60c76e19584",
        "type": "change",
        "z": "c04dd153c7a251c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FactoryIO.Status.Conveyor",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "3513a9b1b8e353b1"
            ]
        ]
    },
    {
        "id": "8232404892f9e12e",
        "type": "ui_text",
        "z": "c04dd153c7a251c6",
        "group": "94f2c428db8afdd5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Turntable Status",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "c7f62f9008ff6ac3",
        "type": "change",
        "z": "c04dd153c7a251c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FactoryIO.Status.TurntableLoading",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "8232404892f9e12e"
            ]
        ]
    },
    {
        "id": "b9557c26c50d2df1",
        "type": "change",
        "z": "c04dd153c7a251c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FactoryIO.Status.Distributing",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "2e673db339ac3822"
            ]
        ]
    },
    {
        "id": "2e673db339ac3822",
        "type": "ui_text",
        "z": "c04dd153c7a251c6",
        "group": "94f2c428db8afdd5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distributing Status",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "25b8954216dc7dfb",
        "type": "ui_slider",
        "z": "c04dd153c7a251c6",
        "name": "",
        "label": "Sequence",
        "tooltip": "",
        "group": "eb7738127c1a915a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "2",
        "step": 1,
        "className": "",
        "x": 540,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bac1e869d359be3c",
        "type": "inject",
        "z": "c04dd153c7a251c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 200,
        "wires": [
            [
                "f1d338115ebfbe70"
            ]
        ]
    },
    {
        "id": "f1d338115ebfbe70",
        "type": "debug",
        "z": "c04dd153c7a251c6",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 180,
        "wires": []
    },
    {
        "id": "eb7738127c1a915a",
        "type": "ui_group",
        "name": "Count",
        "tab": "78edf13af7f7623c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94f2c428db8afdd5",
        "type": "ui_group",
        "name": "Status",
        "tab": "78edf13af7f7623c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78edf13af7f7623c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]